.myPost {
  margin-top: 2%;
  font-size: 15px;
  color: #666;
}

.textareaPost {
  background: rgb(239, 239, 240);
  color: #666;
  height: 50px;
  width: 60%;
  border: 1px lightgray solid;
  border-radius: 12px;
}

.input {
  height: 3%;
  width: 9%;
  color: #666;
  min-width: max-content;
  background: rgb(239, 239, 240);
  border: 1px lightgray solid;
  border-radius: 12px;
  font-size: 12px;
}
