.header {
    grid-area: h;
    background-color: rgb(193, 252, 232);
    margin-top: 2%;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 22px;
    border: 1px gray solid;
  }
  
.header img {
    width: 76px;
    border-radius: 22px;
}