.item {
  border: 1px rgb(240, 240, 240) solid;
  margin-top: 2%;
  border-radius: 12px;
  padding: 12px;
  color: #999;
  font-size: 12px;
}

.avatarNews {
  height: 5%;
  width: 5%;
  border-radius: 50px;
}

.likeButton {
  display: flex;
  justify-content: flex-end;
  margin-top: 1%;
}
