.nav {
  grid-area: n;
  background-color: rgba(51, 76, 138, 0.85);
  margin-left: 30px;
  border-radius: 22px;
  border: 1px lightgrey solid;
  max-height: 170px;
}

.item {
  text-align: center;
  margin-bottom: 5%;
  margin-top: 8%;
}

.item a {
  color: #9eadbd;
  text-decoration: none;
}

.active a:hover {
  color: whitesmoke;
}
