.content {
    grid-area: c;
    margin-right: 30px;
}

.headDivImg {
    overflow: hidden;
    min-height: 200px;
    max-height: 200px;
    width: 100%;
    position: relative;
}
  
.headImg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.profileTop {
    display: grid;
    background: lightgrey;
    margin-top: 20px;
    grid-template-columns: 2fr 10fr;
    grid-template-areas: 
    "ava name"
    "ava date"
    "ava city"
    "ava educ"
    "ava site";
}

.avatarImg {
    grid-area: ava;
    padding: 2%;
    width: 70%;
    max-width: 170px;
    border-radius: 50px;
}

.name {
    grid-area: name;
    font-size: xx-large;
    margin-bottom: 20px;
}

.dateOfBirth {
    grid-area: date;
}
  
.city {
    grid-area: city;
}

.education {
    grid-area: educ;
}

.site {
    grid-area: site;
}

